@charset "utf-8";

@media (max-width: 1920px){
}
/*index.html*/
a:link {
    text-decoration: none;
	color:#8c7f72; 
}
a:visited {
    text-decoration: none;
	color:#8c7f72;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.homenamelogo {
    font-family: "Felt Tip Woman";
	font-weight:bold;
    font-size: 50pt;
    color: #8C7F72;
	text-align: center;
	margin-top:100px;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	
	
}

.hometravelogue {
    font-family: "Prestige Elite Std";
    font-size: 25px;
    font-weight: bold;
    color: #8C7F72;
	text-align: center;
	margin-top:10px;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.meeecontainer {
display: flex;
  justify-content: center;
	
	margin-top:30px;
	margin-bottom:100px;
}


.homemeeepic {display: block;
position:relative;
 cursor: pointer;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 }


.hidemenu1 {
	 visibility: hidden;
	display:block;
    font-family: "Prestige Elite Std";
    font-size: 20pt;
    font-weight: bold;
    color: #8C7F72;
    position:absolute;
	margin-top:-120px;
	margin-bottom:1120px;
	margin-left:-20%;
	margin-right:120%;
	z-index: 1;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	
	
}
.hidemenu2 {
	 visibility: hidden;
	display:block;
    font-family: "Prestige Elite Std";
    font-size: 20pt;
    font-weight: bold;
    color: #8C7F72;
    position:absolute;
	margin-top:-200px;
	margin-bottom:1200px;
	margin-left:350px;
	margin-right:75%;
	z-index: 1;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.homemeeepic .hidemenu1 {
	visibility: visible;
	opacity:0;
	transition: opacity 3s;
		
	
}

.homemeeepic:hover .hidemenu1 {
	
	visibility: visible;
	opacity:1;
	transition: opacity 0s;}


.homemeeepic .hidemenu2 {
	
	visibility: visible;
	opacity:0;
	transition: opacity 3s;}
		
.homemeeepic:hover .hidemenu2 {
	
	visibility: visible;
	opacity:1;
	transition: opacity 0s;}



/*effect-underline*/
a.effect-underline:after {
	content: '';
	color: #8C7F72;
  position: absolute;
  left: 0;
  display:inline-block;
  height: 0.7em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


/*media queries*/


@media screen and (max-width:600px){
	
.homenamelogo {
    font-family: "Felt Tip Woman";
	font-weight:bold;
    font-size: 40pt;
    color: #8C7F72;
	text-align: center;
	margin-top:100px;}
	
	.hidemenu1 {
	 visibility: hidden;
	display:block;
    font-family: "Prestige Elite Std";
    font-size: 18pt;
    font-weight: bold;
    color: #8C7F72;
    position:absolute;
	margin-top:10px;
	margin-bottom:0px;
	margin-left:38%;
	
	z-index: 1;
}
	
	.hidemenu2 {
	 visibility: hidden;
	display:block;
    font-family: "Prestige Elite Std";
    font-size: 17pt;
    font-weight: bold;
    color: #8C7F72;
    position:absolute;
	margin-top:11%;
	margin-left:34%;
	z-index: 1;
}
	a.effect-underline:after {
	content:'';
	color: #8C7F72;
  position: absolute;
  left: 0;
  display:inline-block;
  height: 11px;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
	
	.homemeeepic {
		display: block;
position:relative;
 cursor: pointer;
 -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}
	
	
}





/*about.html*/




.aboutlogo {
	
    font-family: "Felt Tip Woman";
	font-weight:bold;
    font-size: 25pt;
    color: #8C7F72;
	text-align: center;
	margin-top:20px;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
		
}


.aboutdropdown {
    background-color: #8C7F72;
    margin-top: 5px;
	margin-left: auto;
	margin-right:auto;
    height: 16px;
    width: 160px;
	display: block;
position:relative;
 cursor: pointer;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
		
}


.aboutmenu1 { visibility:visible;
	    font-family: "Prestige Elite Std";
    font-size: 20px;
    font-weight: bold;
	position:relative;
    color: #8C7F72;
	margin: auto;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:5px;
	z-index:1;
	display:block;
	text-align:center;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
		width:90px;
		
}





.aboutcontainer{
	height:80px;
	
}

.aboutdropdown +.aboutmenu1 {
	visibility: visible;
	opacity:0;
	transition: opacity 6s;
}

.aboutdropdown:hover+.aboutmenu1 {
	visibility: visible;
	opacity:1;
	transition: opacity 0s;}


/*effect-underline*/
a.effect-underline:after {
	content: '';
	color: #8C7F72;
  position: absolute;
  left: 0;
  display:inline-block;
  height: 0.7em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 5px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


.aboutme {
    font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: block;
    margin: auto;
	text-align:center;
	font-size:15pt;
	line-height:1.5;
		padding-left:28%;
	padding-right:28%;
	margin-top:1%;
	
}
.contactinfo {
    font-family: "Prestige Elite Std";
    color: #8C7F72;
	display: block;
    margin: auto;
	text-align:center;
	font-size:14pt;
	line-height:0.5;
	margin-top:5%;
	
}
.aboutmeeepic {
    display:block;
	text-align:center;
	margin:10%;
	margin-bottom:0px;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	
}
.aboutillustA {
    display: block;
    position: absolute;
	text-align:center;
	width:120px;
	margin-top:-325px;
	margin-left:23%;
	margin-bottom:0;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	
  
	
}
.aboutillustB{display: block;
    position: absolute;
	text-align: center;
	width:120px;
	margin-top:-494px;
	margin-left:70%;
	margin-bottom:0;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	

}
.aboutillucontainer
{display:relative;
	text-align:center;
	

}
.aboutfooter {
    font-family: "Felt Tip Woman";
    line-height: 0.1;
    color: #8C7F72;
    display: block;
	text-align-last: center;
	margin-top:-20px;
	position:relative;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	
}
.aboutfooter p{ font-size:15pt;
	font-weight:bold;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	
}

/*media queries*/

@media screen and (max-width:1024px){
	.aboutillustA {
    display: block;
    position: absolute;
	text-align:center;
	width:120px;
	margin-top:-325px;
	margin-left:10%;
		margin-bottom:0;}
		
	.aboutme {
    font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: block;
    margin: auto;
	text-align:center;
	font-size:14pt;
	line-height:1.5;
		padding-left:28%;
	padding-right:28%;
	margin-top:5%;
	
}
.contactinfo {
    font-family: "Prestige Elite Std";
    color: #8C7F72;
	display: block;
    margin: auto;
	text-align:center;
	font-size:10pt;
	line-height:0.5;
	margin-top:5%;}
	
	
  
}
.aboutmenu1 { visibility:visible;
	    font-family: "Prestige Elite Std";
    font-size: 20px;
    font-weight: bold;
	position:relative;
    color: #8C7F72;
	margin: auto;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:5px;
	z-index:1;
	display:block;
	text-align:center;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
		width:90px;
		
}

@media screen and (max-width:768px){
	.aboutillustA {
    display: block;
    position: absolute;
	text-align:center;
	width:120px;
	margin-top:-325px;
	margin-left:8%;
	margin-bottom:0;
	
	}
	.aboutme {
    font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: block;
    margin: auto;
	text-align:center;
	font-size:12pt;
	line-height:1.5;
		padding-left:28%;
	padding-right:28%;
	margin-top:5%;
	
}
.contactinfo {
    font-family: "Prestige Elite Std";
    color: #8C7F72;
	display: block;
    margin: auto;
	text-align:center;
	font-size:8pt;
	line-height:0.5;
	margin-top:5%;}
	
	.aboutlogo {
	
    font-family: "Felt Tip Woman";
	font-weight:bold;
    font-size: 20pt;
    color: #8C7F72;
	text-align: center;
	margin-top:20px;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
		
}
}

.aboutdropdown {
    background-color: #8C7F72;
    margin-top: 5px;
	margin-left: auto;
	margin-right:auto;
    height: 12px;
    width: 130px;
	display: block;
position:relative;
 cursor: pointer;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
		
}



.aboutfooter p{ font-size:12pt;
	font-weight:bold;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




@media screen and (max-width:600px){
	.aboutillustA {
    display: block;
    position: absolute;
	text-align:center;
	width:120px;
	margin-top:-325px;
	margin-left:0;
	margin-bottom:0;
	
	}}


/*gallery.html*/

.gallerymenu1 { visibility:hidden;
	    font-family: "Prestige Elite Std";
    font-size: 20px;
    font-weight: bold;
	position:relative;
    color: #8C7F72;
	margin: auto;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:5px;
	z-index:1;
	display:block;
	text-align:center;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
		width:70px;
		
}
.aboutdropdown +.gallerymenu1 {
	visibility: visible;
	opacity:0;
	transition: opacity 6s;
}

.aboutdropdown:hover+.gallerymenu1 {
	visibility: visible;
	opacity:1;
	transition: opacity 0s;}



.londoncontainer{display:block;
	align-content: center;
	text-align: center;
	
}

.gallerylondon {
    font-family: Carrotflower;
    font-size: 123pt;
    font-weight: normal;
	letter-spacing: 10px;
    color: #8C7F72;
	
	text-align: center;
	margin-top:30px;
	position:absolute;
    margin-left:-150px;
	display:inline-block;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	
}
.londoninfo {visibility: visible;
    font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: inline-block;
	font-size:13pt;
	text-align:right;
	position:relative;
	line-height:80%;
	
	margin-left:-650px;
	
}

.nycontainer{ 
	display:block;
	align-content: center;
	text-align: center;
	margin-top:50px;
}
.galleryny{font-family: Carrotflower;
    font-size: 123pt;
    font-weight: normal;
	letter-spacing: 10px;
    color: #8C7F72;
	
	text-align: center;
	margin-top:-40px;
	position:a;
    margin-left:-10%;
	display:inline-block;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nyinfo{visibility: visible;
	font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: inline-block;	
	font-size:12pt;
	text-align:left;
	position:absolute;
	
	line-height: 80%;
	margin-top:-50px;
		margin-left:1%;
	
}

.galleryny+.nyinfo{visibility: visible;
	color:#8c7f72;

}
.galleryny:hover+.nyinfo{
	visibility: visible;
	color:black;}



.gallerylondon+.londoninfo{color:#8c7f72;
	

}
.gallerylondon:hover+.londoninfo{
	visibility: visible;
	color:black;}

/*media queries*/

@media screen and (max-width:1024px){


.gallerylondon {
    font-family: Carrotflower;
    font-size: 80pt;
    font-weight: normal;
	letter-spacing: 10px;
    color: #8C7F72;
	
	text-align: center;
	margin-top:30px;
	position:absolute;
    margin-left:-100px;
	display:inline-block;
	
}
.londoninfo {visibility: visible;
    font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: inline-block;
	font-size:9pt;
	text-align:right;
	position:relative;
	line-height:80%;
	
	margin-left:-450px;
	
}

.galleryny{font-family: Carrotflower;
    font-size: 80pt;
    font-weight: normal;
	letter-spacing: 10px;
    color: #8C7F72;
	
	text-align: center;
	margin-top:-40px;
	position:relative;
    margin-left:10%;
	display:inline-block;
}

.nyinfo{visibility: hidden;
	font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: inline-block;	
	font-size:10pt;
	text-align:left;
	position:static;
	
	line-height: 80%;
	padding-top:50px;
		
	}
}
@media screen and (max-width:768px)
{
	
	.londoncontainer{display:block;
	
	text-align: center;
		height:340px;
		}

.gallerylondon {
    font-family: Carrotflower;
    font-size: 80pt;
    font-weight: normal;
	letter-spacing: 10px;
    color: #8C7F72;
	
	text-align: center;
	margin-top:-20px;
	position:static;
    margin-left:100px;
	padding-right:80px;
	display:block;
	
}
.londoninfo {visibility: visible;
    font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: inline-block;
	font-size:9pt;
	text-align:left;
	position:static;
	line-height:80%;
	margin-top:-10px;
	margin-left:90px;
	
}

.galleryny{font-family: Carrotflower;
    font-size: 80pt;
    font-weight: normal;
	letter-spacing: 10px;
    color: #8C7F72;
	
	text-align: center;
	margin-top:-70px;
	position:relative;
    margin-left:10%;
	display:inline-block;
}

.nyinfo{visibility: hidden;
	font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: inline-block;	
	font-size:9pt;
	text-align:left;
	position:static;
	
	line-height: 80%;
	padding-top:50px;
	
		
	}


.nycontainer{ 
	display:block;
	align-content: center;
	text-align: center;
	margin-top:50px;
	margin-bottom:40px;
}
}
@media screen and (max-width:600px)
{.gallerylondon {
    font-family: Carrotflower;
    font-size: 60pt;
    font-weight: normal;
	letter-spacing: 10px;
    color: #8C7F72;
	
	text-align: center;
	margin-top:-20px;
	position:static;
    margin-left:100px;
	padding-right:80px;
	display:block;
	}

	.galleryny{font-family: Carrotflower;
    font-size: 60pt;
    font-weight: normal;
	letter-spacing: 10px;
    color: #8C7F72;
	
	text-align: center;
	margin-top:-100px;
	position:static;
    margin-left:10%;
	display:inline-block;
}
.nyinfo{visibility: hidden;
	font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: inline-block;	
	font-size:9pt;
	text-align:left;
	position:static;
	
	line-height: 80%;
	padding-top:40px;
	padding-left:50px;
  
}
	.nycontainer{ 
	display:block;
	align-content: center;
	text-align: center;
	margin-top:50px;
	margin-bottom:40px;
		
		margin-right:40px;
}
	}
@media screen and (max-width:480px){
	.londoninfo {visibility: visible;
    font-family: "Prestige Elite Std";
    color: #8C7F72;
    display: inline-block;
	font-size:9pt;
	text-align:left;
	position:static;
	line-height:80%;
	margin-top:-10px;
	margin-left:30px;
		margin-right:30px;}
	}
	
	

/*londonpage.html*/

* {
  box-sizing: border-box;
} 


	.londonpcontainer{
	height:100px;
	align-content: center;
		text-align: center;
	
}
	
.londonmenu1 { visibility:hidden;
	    font-family: "Prestige Elite Std";
    font-size: 20px;
    font-weight: bold;
	position:relative;
    color: #8C7F72;
	margin: auto;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:5px;
	z-index:1;
	display:block;
	text-align:center;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
		width:90px;
		
}	
	
.aboutdropdown +.londonmenu1 {
	visibility: visible;
	opacity:0;
	transition: opacity 6s;
}

.aboutdropdown:hover+.londonmenu1 {
	visibility: visible;
	opacity:1;
	transition: opacity 0s;}

.row1{margin-top:25px;
	text-align:center;
	margin-bottom:50px;
	
	
}

.column1{display:inline-block;
	position:relative;	
	margin-left:-350px;
	text-align:center;
	max-width:80%;
}

.column2{
	position:relative;
	display:block;
 margin-top:-550px;
	margin-left:30%;
	text-align:center;
	max-width:60%;
	padding-bottom:250px;
	
}

.row2{margin-top:170px;
text-align:center;
	
	
	

}

.column3{
	display:inline-block;
margin-left:50px;
	padding-left:120px;
	margin-right:20px;

}



.row3{margin-top:200px;
text-align:center;
	
	
	

}

.column4{
margin-left:30px;	

	
	
}

.row4 {margin-top:120px;
text-align:center;
	
	
	
}

.column5{margin-bottom:30px;}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
 text-align: center;
  max-width: 1200px;
	align-content:center;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
	margin-top:-45px;
	text-align:center;
align-content:center;}


/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  margin-top:20px;
  width: auto;
  padding: 16px;
  top:40%;
	
	margin-left:-40%;
	
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next
 {
  cursor: pointer;
  position: absolute;
  margin-top:20px;
  width: auto;
  padding: 16px;
  top:40%;
	margin-right:120px;
	
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}




.active,
.img:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.slideup {
}


/*media queries*/




@media screen and (max-width:1024px){
	
	
	.column1{display:inline-block;
	position:relative;	
	margin-left:5px;
		margin-right:90px;
	max-width:60%;
	
}
	
	.column2{
	position:relative;
	display:block;
 margin-top:-40%;
	margin-left:40%;
	text-align:center;
	margin-bottom:-20%;
}
	
		
		
		
	
.column3 img
	{width:40%}
	

.column3{margin-left:-29px;
	margin-top:-100px;
	
}

.column4{
margin-left:30px;	}

	

.next
 {
  cursor: pointer;
  position: absolute;
  margin-top:20px;
  width: auto;
  padding: 16px;
  top:40%;
	margin-right:10%;
	
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
	}}

@media screen and (max-width:768px)
{
	.column2{margin-bottom:-30%;}
	
	.column3{margin-top:-200px;}
	
.column4 img{
	width:70%;
	
	
}	
.column3 img
	{width:50%;
	}
	

	
.column3{margin-left:-91px;
	
}
	
.column2{
	
		margin-bottom:0%;}}

@media screen and (max-width:600px){
	.column5 img{ width:60%;}}
		
		
/*nypage.html*/
.nyrow1{;
text-align:center;}
.nycolumn1{
	
	}
.nycolumn2{
	margin-top:-25%;
		
}
.nyrow2{
	text-align:center;
	margin-top:20%;
	
	
}
.nycolumn3 img{margin-left:3px;
	margin-right:3px;
	
	
}
.nyrow3{text-align:center;
margin-top:5%;}




.nyrow4{text-align:center;
margin-top:5%;}

.nyrow5{
	text-align:center;
	margin-top:8%;
	margin-bottom:30px;
	
	
}


/*media queries*/

@media screen and (max-width: 768px)
{  
	
	.nycolumn1 img{width:80%;}
	.nycolumn2 img{width:60%;
	margin-top:-5%;}
	.nycolumn3 img{width:40%;}
	.nycolumn6 img{width:40%;}
	
	
	
}
	
@media screen and (max-width:600px)	{
	.nycolumn3 img{
		width:60%;
	}
	.nycolumn6 img{width:60%;}
	
}
	